<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>

<main class="container mt-5 stix-font">

    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <div class="d-flex justify-content-end mb-3">
        <a th:href="@{/profile/edit}" class="btn btn-warning">Edit Profile</a>
    </div>

    <h2>My Pending Recipes</h2>
    <div th:if="${hasPendingRecipes}">
        <div class="row">
            <div class="col-md-4" th:each="recipe : ${pendingRecipes}">
                <div class="card mb-4">
                    <img class="card-img-top" th:src="${recipe.imageUrl}" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${recipe.name}">Recipe Name</h5>
                        <p class="card-text" th:text="${recipe.description}">Recipe Description</p>
                        <a th:href="@{/recipe/{id}(id=${recipe.id})}" class="btn btn-primary">View Recipe</a>
                        <a th:href="@{/profile/edit-recipe/{id}(id=${recipe.id})}" class="btn btn-warning">Edit</a>
                        <form th:action="@{/profile/delete-recipe/{id}(id=${recipe.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${!hasPendingRecipes}">
        <p>No recipes waiting for approval.</p>
    </div>

    <h2>My Approved Recipes</h2>
    <div th:if="${hasApprovedRecipes}">
        <div class="row">
            <div class="col-md-4" th:each="recipe : ${recipes}">
                <div class="card mb-4">
                    <img class="card-img-top" th:src="${recipe.imageUrl}" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${recipe.name}">Recipe Name</h5>
                        <p class="card-text" th:text="${recipe.description}">Recipe Description</p>
                        <a th:href="@{/recipe/{id}(id=${recipe.id})}" class="btn btn-primary">View Recipe</a>
                        <a th:href="@{/profile/edit-recipe/{id}(id=${recipe.id})}" class="btn btn-warning">Edit</a>
                        <form th:action="@{/profile/delete-recipe/{id}(id=${recipe.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${!hasApprovedRecipes}">
        <p>You have no recipes yet.</p>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6Hty5KVphtPhzWj9WO1clHTMGa4GfVPe4pjR8Uu4o8TB8dTqZ" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/js/hideMessages.js}"></script>
</body>
</html>
